<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
   table{
       width: 100%;
       border: 1px solid black;
       border-collapse: collapse;
       font-family: Tahoma;
   }
   td, th{
       border: 1px solid black;
       padding: 8px;
   }
   #form{
       width: 100%;
   }
   #form input{
       width: 200px;
       margin-top: 10px;
       height: 30px;
       border-radius: 2px;
   }
   #form textarea{
       height: 300px;
       width: 100%;
   }
  </style>
</head>
<body>

</body>
</html>